/*** STILE CARD CAMPI ***/
.card-header {
  height: 200px;
  padding: 0;
  background-color: #f8f9fa;
  overflow: hidden; /* evita che l'immagine fuoriesca */
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* riempie l'intero contenitore mantenendo le proporzioni */
  border-radius: 1px;
  display: block;
}
